h1{
    text-align: center;
    margin-top: 10px;
}

.text{
    background-color: #57383B;
    border: 3px solid #E6DAD1;
    display: flex;
    flex-direction: column; /* Disposer les éléments en colonne */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background-color: #57383B;
    margin-top: 20px;
    height: 400px;
    margin: 0 auto; /* Centre horizontalement */
}

.text{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    color: #E6DAD1;
    margin-bottom: 20px;
    font-size: medium;
}

