.footer {
    background-color: #230007;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed; /* Position fixe */
    bottom: 0; /* Collé en bas de la fenêtre */
    width: 100%; /* Occupant toute la largeur de l'écran */ 
    margin-top: 100px;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.footer-right {
    display: flex;
    align-items: center;
    /* margin-right: 90px; */
}

.footer-right a {
    margin-left: 20px;
    color: white;
    font-size: 20px;
}

.footer-right img {
    width: 30px;
    height: auto;
}

.copyright {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column; /* Affiche les éléments en colonne */
        align-items: center; /* Centre les éléments */
        padding: 20px 50px; /* Réduit le padding */
    }

    .footer-left,
    .footer-right {
        margin-bottom: 10px; /* Ajoute un espace entre les éléments */
    }
}