.info {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    text-decoration: underline;
}

.containerinfo p{
    color: #E6DAD1;
}

.containerinfo {
    background-color: #230007;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.containerinfo label,
.containerinfo input {
    color: white;
    width: 550px;
    margin-bottom: 10px;
    height: 23px;
}

.containerinfo input {
    color: black;
}

.containerinfo input[type="submit"] {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #57383B;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    height: 35px;
    font-size: medium;
}

.containerinfo input[type="submit"]:hover {
    background-color: #E6DAD1;
    color: black;
}


/* .delete-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 550px;
    text-align: center;
    margin-top: 10px;
}


.delete-button:hover {
    background-color: red;
} */

.submit-button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #57383B;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    height: 35px;
    font-size: medium;
}

.submit-button:hover {
    background-color: #4CAF50; /* Changez la couleur selon votre préférence */
}

.delete-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 550px;
    text-align: center;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: red;
}


@media screen and (max-width: 768px) {
    .containerinfo {
        width: 90%;
        padding: 20px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 150px;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    .containerinfo label, .containerinfo input {
        width: 100%;
        /* margin-left: 110px; */
    }

    .delete-button {
        width: 330px;
        display: flex;
        justify-content: center; 
    }
}