.containermodif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E6DAD1; 
  } 
  
  .modifprod h1{
    color: white;
    text-align: center;
  }

  .modifprod {
    background-color: #230007; 
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .login-form h1 {
    text-align: center; 
    color: white;
  }
  
  .modifprod label, .modifprod input {
    display: block;
    margin-bottom: 10px;
    color: white;
    width: 100%;
    height: 30px;
    font-size: large;
  }

  .modifprod input{
    color: black;
  }

  .modifprod input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #57383B; 
    color: #fff; 
    cursor: pointer;
    height: 35px;
    margin-top: 20px;
  }

  .modifprod input[type="submit"]:hover {
    color: #57383B; 
    background-color: #fff; 
  }
  
  .modifprod input[type="submit"]:hover {
    background-color: #E6DAD1;
  }
  
  .supprimertissu input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkred; 
    color: #fff; 
    cursor: pointer;
    margin-top: 700px;
    /* margin-right: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .supprimertissu input[type="submit"]:hover {
    color: #ffffff; 
    background-color: #fff; 
  }
  
  .supprimertissu input[type="submit"]:hover {
    background-color: red; 
  }
  

  @media screen and (max-width: 768px) {
    .modifprod {
      width: 100%; 
      align-items: center;
    }
  }